<h1>!!!!!!!!!!PRIME TIME!!!!!!!</h1>

<table>
    <tr>
        <td>NAME</td><td>COMPUTER</td><td>SPEED</td>
    </tr>
    <% @temp.each do |i| %>
        <tr><td><%= i %></td><td><%= i + 1 %></td><td><%= i + 2  %></td></tr>
    <% end %>
</table>

<form action="/speeds/<%= @speed.id %>/delete" method="post">
  <input type="hidden" name="_method" value="'delete"/>
  <button>delete</button>
</form>

<a href="/speeds/new">New Speed test</a>


<%= @p %>
<%= @s1 %>
<%= @s2 %>
<%= @s3 %>