<h2>Top 5</h2>

<table>
    <tr>
        <td>NAME</td><td>COMPUTER</td><td>SPEED</td>
    </tr>
    <% @speed.each do |s| %>
        <tr>
          <td><%= s.person %></td><td><%= s.id %></td><td><%= s.result  %></td>
          <td>
            <form action="/speeds/<%= s.id %>/delete" method="post">
                <input type="hidden" name="_method" value="'delete"/>
                <button>delete</button>
            </form>
          </td>
          <td>
            <form action="/speeds/<%= s.id %>/edit" method="put">
              <input type="hidden" name="_method" value="'edit"/>
              <button>edit</button>
            </form>
          </td>
        </tr>
    <% end %>
</table>



<a href="/speeds/new">New Speed test</a>
<a href="/api/example">API example</a>
